.mainContain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.prioridad{
    display: flex;
}
.mainContain>form>*{
    display: flex;
    flex-direction: column;
}